h1 {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}

h5 {
    display: table;
    margin: 0 auto;
}

.container {
    display: table;
    margin: 0 auto;
    border: 1px solid black;
}

body {
    color: white;
    background-color: black;
    font-family: monospace, monospace;
    font-size: 1em;
}

#title0 {
    color: white;
    border-color: red;
    border-radius: 4px;
    background-color: black;
    font-family: monospace, monospace;
}

#title1 {
    color: white;
    border-color: yellow;
    border-radius: 4px;
    background-color: black;
    font-family: monospace, monospace;
}

#title2 {
    color: white;
    border-color: cornflowerblue;
    border-radius: 4px;
    background-color: black;
    font-family: monospace, monospace;
}

table {
    display: table;
    margin: 0 auto;
    width: 50%;
    height: 20%;
    border: 0px solid;
    text-align: left;
}

.live {
    text-align: left;
    opacity: 0;
    text-shadow: none;
    color: red;
    font-family: monospace, monospace;
    font-size: 0.3em;
}

.circle {

    border-radius: 50%;
    box-shadow: 0px 0px 1em 1em #ffffff;
}

.pulse {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px red;
    }

    100% {
        box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
    }
}

.red {
    background: red;
}
